<section class="container-fluid footer">
    <div class="row">
        <div class="col-md-4 foot1">
            <img src="img/ilakku logo white.avif" width="200px" height="100px" class="text-light m-5" />
            <h1 class="mx-5 text-light">Get in Touch</h1>
            <p class="m-5 text-light"> Bama Nagar 1st St, Vanitha Nagar, Bank <br>Colony, Madurai, Tamil Nadu :- 625017
            </p>
            <p class="m-5 text-light center">+919789268870<br>ilakku.mdu@gmail.com</p>
            <a href="https://www.facebook.com/VIJI.ILAKKU/"><i class="fab fa-facebook text-light p-2 foticon h4"></i></a>            <a href="#" aria-label="YouTube"><i class="fab fa-youtube text-light p-2 h4"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin text-light p-2 h4"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram text-light p-2 h4"></i></a>
        </div>
        <div class="col-md-8">
            <form id="subscribeForm" class="bg-light">
                <br>
                <h5 class="text-center"><b>SUBSCRIBE US</b></h5>
                <p class="text-center">Get our emails to stay in the know.</p>
                <div class="row g-3 px-5">
                    <div class="col-md-6">
                        <label class="form-label">First name:</label>
                        <input type="text" id="fname" name="firstName" title="First name" placeholder="First Name"
                            class="underline-input1 w-100" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Last name:</label>
                        <input type="text" id="lname" name="lastName" title="Last name" placeholder="Last Name"
                            class="underline-input2 w-100 ms-0">
                    </div>
                </div><br>
                <p class="mx-5">Email:</p>
                <input type="email" id="email" name="email" title="Email" placeholder="Enter the Email ID"
                    class="underline-input mx-5 " required><br><br>
                <span id="errorsub" style="color:red;" class="mx-5"></span>
                <p class="mx-5">Phone :</p>
                <div class="mx-5">
                    <select id="country" name="country_code" class="phone-code">
                        <option value="" disabled selected>Globe</option>
                        <option value="+1">+1 (USA)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                        <option value="+61">+61 (Australia)</option>
                        <option value="+49">+49 (Germany)</option>
                        <option value="+33">+33 (France)</option>
                        <option value="+81">+81 (Japan)</option>
                        <option value="+86">+86 (China)</option>
                        <option value="+971">+971 (UAE)</option>
                    </select>
                    <input type="tel" id="phone" name="phone" placeholder="Enter phone number" pattern="[0-9]{6,15}"
                        class="underline-input w-75">
                </div><br><br>
                <button class="button2" type="submit">Subscribe</button><br><br>
            </form>


        </div>
    </div>
    <div>
        <p class="foot1 text-light">© 2025 Ilakku Madurai All Right Reserved </p>
    </div><br>
</section>