<!-- top bar start -->
<!-- <div class="top">
    <h6 class="text-light m-5 icon1"><i class="fa fa-envelope"></i> ilakku.mdu@gmail.com </h6>
</div> -->
<!-- top bar end -->
<!-- nav bar start -->
 <section class="bar">
        <nav class="navbar navbar-expand-sm ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav">
                <li class="nav-item active">
                  <img src="img/ilakku logo.avif" width="150px" height="100px" class="mx-5"/>
                </li>
                <div class="option d-inline-flex">
                <li class="nav-item active">
                  <a class="nav-link  mx-3" href="home.html">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-3 " href="whoweare.html">WHO WE ARE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-3" href="whatwedo.html">WHAT WE DO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-3 " href="getinvolved.html">GET INVOLVED</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-3 " href="#">REPORTS</a>
                  <ul class="dropdown">
                   <li><a href="reports/leaderess.pdf" class="text-white">Leaderess Report</a></li>
                   <li><a href="reports/WEP Program Overview – For Survey Participants.docx" class="text-white">WEP Program Overview</a></li>
                   <li><a href="reports/Keeladi.pdf" class="text-white">Exposure visit to Keeladi</a></li>
                   <li><a href="reports/Foundation Certificate Course on Leadership (Spark).pdf" class="text-white">Foundation certificate coures on Leadership</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-3" href="ourteam.html">OUR TEAM</a>
                </li>
                <li class="butt" >
                 <button class="button1">
                  <a class="nav-link button1" href="donation.html"> DONATE<i class=" mx-2 fas fa-arrow-right"></i></a>
                 </button>
                </li>
                </div>
              </ul><hr>
            </div>
        </nav>
     </section>
<!-- <section class="bar">
    <nav class="navbar navbar-expand-sm ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    <img src="img/ilakku logo.avif" width="150px" height="100px" class="mx-5" />
                </li>
                <div class="option d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="home.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3 " href="whoweare.html">WHO WE ARE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="whatwedo.html">WHAT WE DO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3 " href="getinvolved.html" aria-disabled="true">GET INVOLVED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3 " href="reports.html">REPORTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="ourteam.html" aria-disabled="true">OUR TEAM</a>
                    </li>
                    <li class="butt">
                        <a class="nav-link button1" href="donation.html">DONATE<i
                                class="mx-2 fas fa-arrow-right"></i></a>
                    </li>
                </div>
            </ul>
            <hr>
        </div>
    </nav>
</section> -->
<!-- nav bar end -->